model {
  center_net {
    num_classes: 10   # [MUST] Update this to the number of classes in the training images
    feature_extractor {
      type: "resnet_v1_50_fpn"   # [MUST] Make sure this matches with the model
    }
    image_resizer {
      keep_aspect_ratio_resizer {   # [OPTIONAL] Change the resizer which fits to the training images
        min_dimension: 512
        max_dimension: 512
        pad_to_max_dimension: true
      }
    }
    ## omitted ##
  }
}

train_config: {

  batch_size: 8   # [MUST] Update based on the machine - larger size would face out of memory error
  num_steps: 10000   # [MUST] Update to the number of steps you would like to perform

  ## omitted ##

  optimizer {
    adam_optimizer: {
      epsilon: 1e-7
      learning_rate: {
        cosine_decay_learning_rate {   # [MUST] Update to match with the total steps and the lr shape. This affects to the model performance.
          learning_rate_base: 1e-3
          total_steps: 10000
          warmup_learning_rate: 2.5e-4
          warmup_steps: 1000
        }
      }
    }
    use_moving_average: false
  }
  max_number_of_boxes: 3   # [MUST] Update to the max number of objects per image
  unpad_groundtruth_tensors: false

  fine_tune_checkpoint_version: V2
  fine_tune_checkpoint: "/content/models/research/pretrained_model/checkpoint/ckpt-0"   # [MUST] Update to match with the file path. /content is for Colab.
  fine_tune_checkpoint_type: "fine_tune"   # [MUST] Update to "fine_tune" for trainsfer learning. "classification" is for original training.
}

train_input_reader: {
  label_map_path: "annotations/label_map.pbtxt"   # [MUST] Update to match with the file path.
  tf_record_input_reader {
    input_path: "annotations/train.record"   # [MUST] Update to match with the file path.
  }
}

eval_config: {
  metrics_set: "coco_detection_metrics"
  use_moving_averages: false
  batch_size: 1;
}

eval_input_reader: {
  label_map_path: "annotations/label_map.txt"   # [MUST] Update to match with the file path.
  shuffle: false
  num_epochs: 1
  tf_record_input_reader {
    input_path: "annotations/test.record"   # [MUST] Update to match with the file path.
  }
}